@tailwind base;
@tailwind components;
@tailwind utilities;

/* theme-light */
.theme-light {
  --background: #f1f5f9
  --background-secondary: #cbd5e1
  --primary: #f13223
  --secondary: #f96559
  --text-color: #2d2d2d
}

/* theme-dark */
.theme-dark {
  --background: #030521;
  --background-secondary: #1e2a3b;
  --primary: #00dc83;
  --secondary: #f96559;
  --text-color: #ffffff;
}

.theme-food-good {
  --background: #af4f6b;
  --background-secondary: #cba177;
  --primary: #fcd4c2;
  --secondary: #8aacac;
  --text-color: #181818;
}

.theme-ocean-blue {
  --background: #0f182a;
  --background-secondary: #1e2a3b;
  --primary: #483eff;
  --secondary: #f96559;
  --text-color: #f9818e;
}